.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.block {
  height: 20vh;
  width: 300px;
  transition-duration: 0.3s;
}

.block:hover {
  height: 30vh;
  cursor: pointer;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.orange {
  background-color: orange;
}